.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.numbers {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.numberWrapper {
  font-family: "Open Sans";
  margin: 0 0.8em;
}

.number {
  font-size: inherit;
  cursor: pointer;
  display: block;
  line-height: 1em;
  width: 1em;
  text-align: center;
  position: relative;
}

.number::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #3366ff;
  border-radius: 100%;
  width: 0rem;
  height: 0rem;
  z-index: -1;
  transform: translate(-50%, -50%);
  /* transition: 100ms ease-in-out;
  transition-property: width, height; */
}

.number[picked="true"] {
  color: white;
  font-weight: bold;
}

.number[picked="true"]::before {
  width: 2em;
  height: 2em;
}

.prev,
.next {
  cursor: pointer;
  font-size: 1em;
  width: 1em;
  text-align: center;
  color: #3366ff;
  font-weight: bold;
}

.prev,
.next,
.number {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
