.Footer {
  margin-top: 7rem;
  height: 25rem;
  background-color: #120042;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.FooterLogo {
  /* padding-top: 50px; */
  height: 3rem;
  margin-right: 2rem;
  color: white;
}

.FooterItems {
  /* background-color: pink; */
  padding-right: 3rem;
  color: white;
}
