.cardWrapper {
  width: 25rem;
  margin: auto;
}

.login {
  margin: 5rem 2rem 3rem 2rem;
}

.login > h1 {
  display: block;
  text-align: center;
  margin: 2rem 0;
}

.inputs {
  margin-bottom: 1rem;
}

.passwordInput {
  margin-top: 1rem;
  position: relative;
  /* background: lightgreen; */
}

.passwordInput > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1em;
  z-index: 2;
}

.showPasswordToggler {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  font-size: 0.9em;
  color: #3456bf;
}

.showPasswordToggler:hover {
  cursor: pointer;
  color: black;
}

.buttonWrapper {
  margin: auto;
  width: 10rem;
}

.warning {
  color: red;
  text-align: center;
}

.forgotPassword {
  text-align: center;
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  color: grey;
  margin: 1rem auto 0 auto;
}

.signupPrompter {
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  color: black;
  margin: 0;
}

.signupLink {
  display: inline-block;
  color: #3456bf;
}

@media (max-width: 600px) {
  .cardWrapper {
    width: 100%;
    max-width: 19rem;
  }

  .login {
    margin: 5rem 0 3rem 0;
  }
}
