.overview {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  /* margin-bottom: 5rem; */
}

.leftCard {
  /* Height is dynamically set by JS */
  flex: 1 1 70%;
  margin-right: 1rem;
}

.radar {
  width: 100%;
  height: 100%;
  /* background: pink; */
}

.overviewRight {
  width: 20rem;
}

.rightCard {
  height: 26rem;
  flex: 1 1 20%;
  /* flex: 1 1 30%; */
  margin-bottom: 0.5rem;
}

.rightCard h1 {
  margin: 1rem 0;
  font-size: 1.3rem;
}

.rightButtons {
  width: 70%;
  margin: 1rem auto 0 auto;
}

.rightButtons a {
  /* display: block; */
  /* width: 100%; */
  margin: auto;
  /* margin-top: 1rem; */
}

@media (max-width: 768px) {
  .overview {
    flex-direction: column;
    /* background-color: grey; */
  }
  .overviewRight {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin: auto;
  }

  .rightCard {
    flex: 1 1 60%;
  }

  .rightButtons {
    flex: 1 1 40%;
  }

  .leftCard {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .overview {
    flex-direction: column;
    /* background-color: grey; */
  }
  .overviewRight {
    width: 100%;
    margin: auto;
  }
  .leftCard {
    width: 100%;
    margin: auto;
  }
}
