.selectWrapper {
  position: relative;
  width: 100%;
}

.select {
  font: inherit;
  padding: 1em 1.5em;
  border: 1px solid grey;
  margin: 1px 0;
  width: 100%;
  background-color: white;
}

.select::-ms-expand {
  display: none;
}

.select:focus {
  outline: none;
  margin: 0;
  border: 2px solid #3456bf;
}

.option {
  font: inherit;
  padding: 1em 1.5em;
  border: 0;
  width: 100%;
  background-color: white;
}

.customArrow {
  position: absolute;
  box-sizing: border-box;
  top: 5%;
  right: 0.12em;
  display: block;
  background: white;
  height: 90%;
  width: 3em;
  pointer-events: none;
  border-radius: 15em;
  /* border: 1px solid lightgrey; */
}

.customArrow::after {
  --size: 0.5em;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid rgb(200, 200, 200);
}

.round {
  border-radius: 15em;
}
