.LandingBanner {
  height: 100vh;
  width: 100%;
  background-color: #120042;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -100;
}

.logoWrapper {
  height: 5rem;
}

.LandingBanner > h1 {
  color: white;
  font-weight: 200;
  font-size: 1.4rem;
}

.LandingBanner > a {
  margin-top: 4rem;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  /* background: grey; */
  /* padding: 1rem; */
  /* border-bottom: 0.4em solid #17f4ff; */
}

/* For future animation or CSS effects on the action link */

.LandingInfos {
  margin: 5rem 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* For media queries, the width can be changed in proportion to vh, and flex-direction can be column */
.overflowControl {
  margin: auto;
}

.LandingInfo {
  display: flex;
  width: 900px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 10rem auto;
  /* background: pink; */
}

.LandingInfoFlipped {
  float: right;
}

.descriptionWrapper {
  padding: 0 2rem;
  flex: 1 1 35%;
  /* background: blue; */
}

.descriptionWrapper > h1 {
  font-size: 3rem;
}

.descriptionWrapper > h1 > strong {
  position: relative;
}

.descriptionWrapper > h1 > strong::after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0.8rem;
  bottom: 0.8rem;
  z-index: -100;
  margin: 0 -0.4em;
  padding: 0em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(23, 244, 255, 0.1),
    rgba(23, 244, 255, 0.9) 10%,
    rgba(23, 244, 255, 0.7) 90%,
    rgb(22, 189, 227)
  );
}

.descriptionWrapper > p {
  font-size: 1.1rem;
}

.cardWidthControl {
  flex: 1 1 55%;
}

.cardWrapper {
  display: block;
  width: 25rem;
  height: 25rem;
  margin: auto;
}

.Illustration {
  width: 100%;
}

.questionWrapper {
  font-size: 0.7rem;
  padding: 0.8rem;
}

/* .ActionButton {
  position: relative;
  color: white;
  z-index: 10
}

.ActionButton::after {
  content: "";
  background: rgba(23, 244, 255, 1);
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 0rem;
  z-index: -1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

.ActionButton:hover:after {
  left: 0;
  height: 1rem;
  width: 100%;
} */

@media (max-width: 1000px) {
  /* .LandingInfo {
    width: 40rem;
  }
  .descriptionWrapper > h1 {
    font-size: 3rem;
  } */
}

@media (max-width: 768px) {
  /* .LandingInfo {
    width: 35rem;
  } */
  /* .descriptionWrapper > h1 {
    font-size: 2.5rem;
  } */
}

@media (max-width: 600px) {
  .LandingBanner > h1 {
    font-size: 1rem;
  }

  .LandingBanner > a {
    margin-top: 3rem;
    font-size: 0.8rem;
  }

  .logoWrapper {
    height: 3rem;
  }

  .LandingInfos {
    width: 100%;
  }

  .LandingInfo {
    width: auto;
    flex-direction: column;
    margin: 10rem auto;
    padding: 1rem;
    /* background: pink; */
  }

  .LandingInfoFlipped {
    float: none;
  }

  .descriptionWrapper {
    width: 100%;
    max-width: 25rem;
    order: -1;
    margin-bottom: 2rem;
    /* background: blue; */
  }

  .descriptionWrapper > h1 {
    font-size: 2.5rem;
  }

  .cardWidthControl {
    /* box-sizing: border-box; */
    flex: 1 1 100%;
  }

  .cardWrapper {
    width: 80vw;
    height: 80vw;
  }

  .questionCard {
    height: auto;
  }

  .questionWrapper {
    font-size: 0.6rem;
    padding: 0.5rem;
  }
}
