.testPaper {
  margin-top: 10rem;
}

.topPaginationWrapper,
.bottomPaginationWrapper {
  margin: 2rem 0;
}

.completeButtonWrapper {
  width: 10rem;
  margin: auto;
}

.modalContentWrapper {
  padding: 1rem;
}
