.content {
  width: 60rem;
  margin: 2.5rem auto;
  min-height: 100vh;
}

.withNav {
  margin-top: 10rem;
}

/* Add media queries here */

@media (max-width: 1000px) {
  .content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .content {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .content {
    width: 80%;
  }
}
