.content {
  max-width: 900px;
  min-height: 100vh;
  margin: 2.5rem auto;
}

.withNav {
  margin-top: 10rem;
}

@media (max-width: 1000px) {
  .content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .content {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .content {
    width: 90%;
  }
}
