.SubPart {
  display: flex;
  justify-content: space-between;
  /* background: lightgreen; */
  margin-left: -0rem;
  margin: 0.25rem 0;
}

.LabelBodyWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* background: grey; */
  flex: 1 1 100%;
}

.Label {
  margin: 0.25rem 1rem;
  /* background: pink; */
  height: 100%;
  width: 2rem;
}

.Body {
  /* background: lightblue; */
  height: 100%;
  flex: 1 1 100%;
}

.Mark {
  margin: 0;
}
