.Part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* background: lightgreen; */
    margin: 0.5rem 0
}

.LabelBodyWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* background: grey; */
  flex: 1 1 100%;
}

.PartLabel {
  margin: 0 1em;
  /* background: pink; */
  height: 100%;
  width: 2rem;
}

.PartBody {
  /* background: lightblue; */
  height: 100%;
  flex: 1 1 100%;
}

.PartBody p {
  margin: 0;
}

.Mark {
  margin: 0;
}