.userGreeting {
  margin-top: 1rem;
}

.overviewWrapper {
  margin: 2rem 0;
}

.breakdownWrapper {
  margin-top: 5rem;
}

.selectTestWrapper {
  margin-top: 5rem;
}

.testTitle {
  font-size: 1.5rem;
  font-weight: bold;
}
