.Markscheme {
  font-family: "Computer Modern Serif";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.MarkschemeContent {
  flex: 1 1 100%;
  /* margin-right: 0.5em; */
}

.MsBody {
  margin: 0;
  /* background: grey; */
}

.MsImage {
  text-align: center;
  border: 1px solid black;
  display: block;
  padding: 1rem 0;
  margin: 0;
}

.Marks {
  /* flex: 1 1 100%; */
  display: flex;
  flex-direction: row;
  /* background: lightpink; */
  margin: 0;
  margin-left: 0.5em;
}

.Value {
  font-weight: 600;
  text-align: right;
  width: 1.6em;
  display: inline-block;
  /* background: lightgreen; */
  margin: 0;
}

.Implicit {
  width: 2.5em;
}

.Implicit::before {
  content: '('
}

.Implicit::after {
  content: ')'
}

.Part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* background: lightgreen; */
  margin: 0.5rem 0;
}

.SubPart {
  margin: 0 0;
  /* background: orange; */
  /* padding: 0.1em; */
}

.LabelBodyWrapper {
  flex: 1 1 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* background: lightyellow; */
  justify-content: space-between;
}

.Label {
  margin: 0 0.5em;
  /* background: pink; */
  height: 100%;
  width: 2rem;
}

.Body {
  flex: 1 1 100%;
}

.SubPartLabel {
  margin: 0 0;
}

.BodyMarkWrapper {
  display: flex;
  flex-direction: row;
  /* background: pink; */
}
