.testSubmitConfirm {
  margin: auto;
  margin-top: 10rem;
  text-align: center;
}

.feedbackForm {
  text-align: left;
  max-width: 30rem;
  margin: 3rem auto 0 auto;
}

.feedbackFormSegment {
  margin: 2rem auto;
}

.subTitle {
  font-weight: bold;
}

.selectWrapper {
  font-size: 1rem;
}

.buttonWrapper {
  float: right;
}

.feedback {
  display: inline-block;
  margin: auto;
  padding: 0.2em;
  text-decoration: none;
  color: grey;
  font-weight: bold;
  border-bottom: 0.2em solid transparent;
}

.feedback:hover {
  border-bottom: 0.2em solid grey;
}

.link {
  margin-top: 2rem;
  display: block;
  text-decoration: none;
  color: #3366ff;
}

.error {
  color: red;
  margin-top: 0;
}
