.Button {
  font-size: inherit;
  font-family: "Raleway";
  padding: 1.1em 1em;
  border: none;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  z-index: 500;
}

.Round {
  border-radius: 50px;
}

.Button:focus {
  outline: none;
}

.Blue {
  background-color: #3366ff;
  color: white;
  border: 3px solid #3366ff;
  transition: background-color 100ms ease-in-out;
}

.Blue:hover,
.Blue:active,
.Blue:focus {
  background-color: white;
  color: #3366ff;
  border: 3px solid #3366ff;
}

.White {
  background-color: white;
  color: #3366ff;
  border: 3px solid #3366ff;
  transition: background-color 100ms ease-in-out;
}

.White:hover,
.White:active .White:focus {
  background-color: #3366ff;
  color: white;
}

.Orange {
  background-color: white;
  color: #ff9533;
  border: 3px solid #ff9533;
  transition: background-color 100ms ease-in-out;
}

.Orange:hover,
.Orange:active,
.Orange:focus {
  background-color: #ff9533;
  color: white;
}

.TextBlack {
  color: black;
}
