.title {
  font-size: 2rem;
}

.subtitle {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.subtopics {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem;
  padding: 0;
}

.subtopic {
  font-size: 1rem;
  width: 27%;
  height: 1.6em;
  min-width: 12em;
  margin: 0.5em;
  padding: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5em;
}

.subtopic > label {
  color: white;
}

.subtopicGrade {
  min-width: 1.1em;
  margin-left: 0.2em;
  text-align: center;
}
