.Cell {
  font: inherit;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 3em;
  justify-content: center;
  position: relative;
  /* font-size: 1rem;/ controls the dim */
  /* border: 1px solid red; */
}

.labelWrapper {
  position: relative;
}

.Label {
  /* width: 100%; */
  box-sizing: content-box;
  text-align: center;
  padding: 0.5em 1em;
  /* height: 1em; */
  /* border: 1px solid transparent; */
  background: #505050;
  color: white;
  margin: 0;
  margin-left: -1px;
  position: relative;
}

.Label[blue="true"] {
  background: #3e4d84;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  /* margin: 0; */
}

.InputWrapper {
  border: 1px solid grey;
  /* margin: 0 -1px; */
  /* margin-top: -1px; */
  margin-left: -1px;
  position: relative;
  height: 2.5em;
}

.Input {
  box-sizing: border-box;
  padding: 0.8em 0;
  padding-left: 2.5em;
  border: none;
  width: 100%;
  font-size: 1em;
  /* background: pink; */
  height: 100%;
  background-color: transparent;
  z-index: 1;
  position: relative;
}

.Max {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  /* padding: 1em; */
  left: 3.5em;
  top: 50%;
  /* height: 100%; */
  transform: translateY(-50%);
  font-size: 1em;
  color: grey;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
