.Cell {
  display: flex;
  flex-direction: column;
  width: 7em;
  justify-content: center;
  position: relative;
  margin-bottom: 0.5em;
  font-size: 1rem; /* controls the dim */
}

.Label {
  /* width: 100%; */
  text-align: center;
  padding: 0.5em 1em;
  /* height: 1em; */
  border: 1px solid white;
  background: #505050;
  color: white;
  margin: 0 -1px;
  font-weight: 600;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  /* margin: 0; */
}

.InputWrapper {
  border: 1px solid grey;
  margin: 0;
  margin-top: -1px;
  margin-left: -1px;
  position: relative;
  height: 3em;
}

.Input {
  box-sizing: border-box;
  padding: 0.8em 0;
  padding-left: 2.5em;
  border: none;
  margin: 0;
  width: 100%;
  font-size: 1em;
  /* background: pink; */
  height: 100%;
  background-color: transparent;
  z-index: 100;
}

.Max {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  /* padding: 1em; */
  left: 3.5em;
  top: 50%;
  /* height: 100%; */
  transform: translateY(-50%);
  font-size: 1em;
  color: grey;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
