.TopicBreakdown {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30rem;
  margin: auto;
  /* background: grey; */
}

.Left {
  flex: 1 1 50%;
  height: 100%;
  overflow: scroll;
  /* background: rgb(245, 222, 225); */
}

.Performance {
  display: inline-block;
  margin: 2rem auto;
  /* background: blue; */
  font-size: 1rem;
  font-weight: 600;
  /* margin-bottom: 3rem; */
}

.Right {
  flex: 0 1 50%;
  text-align: center;
  /* background: blue; */
}

.Right h1 {
  font-size: 1.2rem;
  margin: 0;
}

.Right p {
  margin: 0.5rem;
}

.Select {
  width: 80%;
}

.Radar {
  height: 85%;
  /* background: pink; */
}

@media (max-width: 600px) {
  .TopicBreakdown {
    flex-direction: column;
    height: 60rem;
  }

  .Left {
    flex: 1 1 100%;
    height: 20rem;
    order: 2;
  }

  .Left > h1 {
    text-align: center;
  }

  .Select {
    margin: auto;
  }

  .Radar {
    flex: 1 1 100%;
    height: 20rem;
    order: 1;
  }
}
