.QuestionPart {
  font-family: "Computer Modern Serif";
  display: flex;
  justify-content: space-between;
  margin: 0.1em 0;
}

.PrefixBody {
  flex: 1 1 100%;
  display: flex;
  align-items: flex-start;
}

.Prefix {
  display: inline-block;
  width: 2em;
  margin: 0;
  /* background: pink; */
}

.PrefixShort {
  width: 1.5em;
}

.Pseudo {
  /* width: 4em; */
  display: flex;
  margin: 0;
  /* background: green; */
}

.PseudoPrefix {
  display: inline;
  width: 2em;
  margin: 0;
  /* background: lightblue; */
}

.QuestionBody {
  margin: 0;
  display: inline;
  flex: 1 1 100%;
  margin-bottom: 1em;
}

.QuestionBodyText {
  font-size: 1em;
  font-weight: 400;
  display: inline-block;
  margin: 0;
}

.QuestionBodyImage {
  text-align: center;
  /* border: 1px solid black; */
  display: block;
  padding: 1rem 0;
}

.QuestionBodyImage img {
  min-width: 20rem;
  max-width: 100%;
  /* max-width: 100%; */
}

.Marks {
  display: inline;
  margin: 0;
  margin-left: 0.5em;
}


.SubPart {
  margin-left: 2em;
}
