.Dashboard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* background-color: grey; */
  gap: 1rem;
  margin: auto;
  /* margin-bottom: 5rem; */
}

.LeftCard {
  /* Height is dynamically set by JS */
  flex: 1 1 70%;
}

.Radar {
  width: 100%;
  height: 100%;
  /* background: pink; */
}

.RightSide {
  width: 20rem;
}

.RightCard {
  height: 26rem;
  flex: 1 1 20%;
  /* flex: 1 1 30%; */
  margin-bottom: 0.5rem;
}

.RightCard h1 {
  margin: 1rem 0;
  font-size: 1.3rem;
}

.RightButtons {
  width: 70%;
  margin: 1rem auto 0 auto;
}

.RightButtons a {
  /* display: block; */
  /* width: 100%; */
  margin: auto;
  /* margin-top: 1rem; */
}

@media (max-width: 768px) {
  .Dashboard {
    flex-direction: column;
    /* background-color: grey; */
  }
  .RightSide {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin: auto;
  }

  .RightCard {
    flex: 1 1 60%;
  }

  .RightButtons {
    flex: 1 1 40%;
  }

  .LeftCard {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .Dashboard {
    flex-direction: column;
    /* background-color: grey; */
  }
  .RightSide {
    width: 100%;
    margin: auto;
  }
  .LeftCard {
    width: 100%;
    margin: auto;
  }
}
