.Dashboard {
  display: flex;
  width: 100%;
  /* background-color: grey; */
  gap: 1rem;
  margin: auto;
  /* margin-bottom: 5rem; */
}

.LeftCard {
  height: 35rem;
  flex: 1 1 70%;
}

.Radar {
  width: 100%;
  height: 100%;
  /* background: pink; */
}

.RadarPlaceholder {
  height: 80%;
}

.RightCard {
  height: 26rem;
  /* flex: 1 1 30%; */
  margin-bottom: 0.5rem;
}

.RightCard h1 {
  margin: 1rem 0;
  font-size: 1.3rem;
}

.RightButtons {
  width: 90%;
  margin: auto;
}

.RightButtons a{
  /* display: block; */
  /* width: 100%; */
  margin: auto;
}

@media(max-width: 600px) {
  .Dashboard {
    flex-direction: column;
    /* background-color: grey; */
  }
  .RightSide {
    padding: 0 10vw;
  }
}

