.TestInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background: pink; */
}

.Texts {
  display: flex;
  flex: 1 1 80%;
}

.Name {
  flex: 1 1 50%;
}

.Length {
  flex: 1 1 25%;
}

.Score {
  flex: 1 1 25%;
}

.Button {
  min-width: 10rem;
  flex: 1 1 20%;
  /* margin: 0 3rem; */
}

@media (max-width: 600px) {
  .Texts p {
    font-size: 0.9rem;
  }

  .Button {
    min-width: 6rem;
    flex: 1 1 20%;
    /* margin: 0 3rem; */
  }
}

@media (max-width: 768px) {
  .Texts {
    flex-direction: column;
    order: 2;
    margin-left: 1rem;
  }
  .Texts p {
    margin: 0.1rem;
  }
  .TestInfo {
    margin-bottom: 2rem;
  }
}
