.inputsWrapper {
  max-width: 20rem;
}

.inputWrapper {
  font-size: 1rem;
  margin: 1em 0;
}

.passwordInstructions {
  display: block;
  color: grey;
  margin: 1rem 0;
  padding: 0 0.3rem;
  font-size: 0.9rem;
}

.passwordInstructions[warning="true"] {
  color: red;
}
