.testInfo {
  width: 100%;
}

.rowFlexControl {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

.testNameWrapper {
  flex: 1 1 40%;
}

.testNameWrapper a {
  text-decoration: none;
  color: black;
}

.testName {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 3px transparent solid;
  margin-right: 1em;
}

.testName:hover {
  border-bottom: 3px #3366ff solid;
}

.lengthScoreWrapper {
  display: flex;
  flex: 1 1 50%;
}

.lengthScoreWrapper p {
  margin: 0.1em 0.2em;
}

.testLength {
  flex: 1 1 10%;
}

.testScore {
  flex: 1 1 10%;
}

.button {
  flex: 1 1 10%;
  font-size: 0.8rem;
  min-width: 10em;
}

@media (max-width: 450px) {
  .rowFlexControl {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
  .testNameWrapper {
    flex: 1 1 50%;
    order: 1;
  }
  .lengthScoreWrapper {
    margin-top: 0.5em;
    width: 100%;
    order: 3;
  }
  .button {
    order: 2;
    flex: 1 1 50%;
  }
}

@media (max-width: 600px) {
  .rowFlexControl p {
    font-size: 0.8rem;
  }

  .button {
    font-size: 0.7rem;
    min-width: 6rem;
    /* margin: 0 3rem; */
  }
}

@media (max-width: 768px) {
  .testInfo {
    flex-direction: column;
  }

  .rowFlexControl {
    width: 100%;
  }

  .button {
    /* display: none; */
    font-size: 0.7rem;
  }
}
