.Part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* background: lightgreen; */
  margin: 0.5rem 0;
}

.LabelBodyWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* background: grey; */
  flex: 1 1 100%;
}

.Label {
  margin: 0 0.5em;
  /* background: pink; */
  height: 100%;
  width: 2rem;
}

.PartBody {
  /* background: lightblue; */
  height: 100%;
  flex: 1 1 100%;
  margin: 0;
}

.PartImage {
  text-align: center;
  border: 1px solid black;
  display: block;
  padding: 1rem 0;
  margin: 0 0.5em;
}

.Value {
  font-weight: 600;
  text-align: right;
  width: 1.6em;
  display: inline-block;
  /* background: lightgreen; */
  margin: 0;
}
