.inputComponent {
  margin: 1rem 0;
  width: 100%;
}

.inputComponent[type="checkbox"] {
  margin: 0;
  width: auto;
  display: inline-block;
}

.input {
  box-sizing: border-box;
  font-family: "Raleway";
  font-size: 1em;
  padding: 1.2em;
  width: 100%;
  border: 1px solid grey;
  margin: 1px 0;
  border-radius: 50px;
}

.input:focus {
  outline: none;
  margin: 0;
  border: 2px solid #3456bf;
}

.input::placeholder {
  font-family: "Raleway";
}

.input[type="checkbox"] {
  /* -webkit-appearance:none; */
  display: inline-block !important;
  width: 1rem;
  height: 1rem;
  background: white;
  border-radius: 2px;
  border: 1px solid #555;
  margin: 0;
}

/* .input[type="checkbox"]:focus {
  outline: 1px solid #3456bf;
} */

.inputName {
  margin: 1rem 0 0.5rem 0;
}

.warning {
  color: red;
  font-size: 0.8em;
  text-align: center;
}
