.Login {
  margin-top: 10rem;
}

.CardWrapper {
  width: 20rem;
  margin: auto;
}

.InputFields {
  margin-bottom: 1rem;
}

.ShowPassword {
  display: block;
}

.ShowPassword > p {
  display: inline-block;
  margin-left: 5px;
}

.Warning {
  color: red;
}

@media (max-width: 600px) {
  .CardWrapper {
    width: 90%;
    max-width: 20rem;
  }
}
