.Signup {
  margin-top: 10rem;
}

.CardWrapper {
  width: 35rem;
  max-width: 35rem;
  margin: auto;
}

.InputFields {
  margin-bottom: 1rem;
}

.Names {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
}

.ShowPassword {
  display: block;
}

.ShowPassword > p {
  display: inline-block;
  margin-left: 5px;
}

.Warning {
  color: red;
}

.SuccessPrompt {
  max-width: 500px;
  text-align: center;
  margin: auto;
}

@media (max-width: 1000px) {
  .CardWrapper {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .CardWrapper {
    width: 90%;
  }
  .Names {
    display: block;
    gap: none;
    align-items: none;
  }
}
