@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.toolbar {
  position: fixed;
  z-index: 90;
  height: 5rem;
  width: 100%;
  top: 0;
  left: 0;

  background-color: white;
  box-shadow: 0px 1px 10px rgba(150, 150, 150, 25);
}

.toolbarDeskop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.toolbarMobile {
  display: none;
}

.navLogo {
  height: 2.5rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.navItems {
  margin-right: 1.5rem;
}

@media (max-width: 768px) {
  .toolbarDeskop {
    display: none;
  }

  .toolbarMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .toolbarDropdown {
    position: fixed;
    background: white;
    height: 100vh;
    width: 100vw;
    top: 5rem;
  }

  .toolbarFadeIn {
    animation: fadeIn 100ms ease-in;
  }

  .menuButtonWrapper {
    font-size: 1.3rem;
    padding: 1em;
  }

  .navItems {
    font-size: 1rem;
  }

  .navLogo {
    height: 2rem;
  }
}
